/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Task List Styles */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

.list-group-item:hover {
  background-color: #f9f9f9;
}

.completed {
  text-decoration: line-through;
}

.form-check {
  display: flex;
  align-items: center;
}

.due-date {
  font-size: 12px;
  padding: 4px 8px;
  background-color: #17a2b8;
  color: #000000;
  /* Black text color */
  border-radius: 4px;
  margin-left: 10px;
}

/* Task Form Styles */
.input-group {
  margin-bottom: 20px;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Button Styles */
.btn {
  cursor: pointer;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
}

.btn-danger:hover {
  background-color: #b22830;
}

.btn-success {
  background-color: #28a745;
  color: #ffffff;
  border: none;
}

.btn-success:hover {
  background-color: #1a9429;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
}

.btn-secondary:hover {
  background-color: #545b62;
}


.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger {
  margin-right: 5px;
  /* Add margin between buttons */
}